<h1>New User Form</h1>
<%= form_for @user do |f|%>
  <% if f.errors.any? %>
    <ul>
      <% f.errors.full_messages.each do |message|%>
        <li><%= message%></li>
      <% end %>
    </ul>
  <% end %>
  <p><%= f.text_field :name%></p>
  <p><%= f.password_field :password%></p>
  <p><%= f.password_field :password_confirmation%></p>
  <%= f.submit :'create'%>
<% end %>
