<h1>New User Form</h1>
<%= form_for @user do |f|%>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message|%>
      <p><%= message %></p>
    <%end%>
  <% end %>
  <p>Name: <%= f.text_field :name%></p>
  <p>Password: <%= f.password_field :password%></p>
  <p>Password Comfirmation: <%= f.password_field :password_confirmation%></p>
  <%= f.submit :'create'%>
<% end %>
